################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Restful api/FileContentIndex
/.vs/Restful api/v17/.suo
/.vs/Restful api/v17/DocumentLayout.json
/01 StudentAPIServer with DB/.vs/StudentApi/FileContentIndex/3da23ddc-d5f8-46b3-9d80-74fb34780c51.vsidx
