################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Restful api/FileContentIndex
/.vs/Restful api/v17/.suo
/.vs/Restful api/v17/DocumentLayout.json
